*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  padding: 3.5rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
